* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  #image_container {
    border: 1px solid white;
  }
}
